@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>Use Slider Or Images</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Posts</h2>
        <p>
            My latest Posts are in this page    
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Questions</h2>
        <p>All My Questions with Clients are Updated Heer</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>What I provide.</p>
        <p><a class="btn btn-default" href="@Url.Action("Services","Home")">Learn more &raquo;</a></p>
    </div>
</div>